name: CI
on: [push, pull_request]

jobs:
  lint:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install pre-commit
        run: pip install pre-commit
      - name: Run pre-commit
        run: pre-commit run --all-files

  ci-runs:
    name: ${{ matrix.os }}, ${{ matrix.tox_env }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.allowed_fail }}
    if: contains(github.event.pull_request.labels.*.name, 'skip-tests') == false
    env:
      PYTEST_ADDOPTS: --color=yes -n auto --dist=loadscope

    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps-cov'
            allowed_fail: false

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          cache: pip
      - name: Install base dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox tox-uv
      - name: Cache
        uses: actions/cache@v4.3.0
        with:
          path: |
            .tox
          key: ${{ matrix.tox_env }}-${{ runner.os }}-${{ hashFiles('pyproject.toml') }}
      - name: Print Python, pip, and tox versions
        run: |
          python -c "import sys; print(f'Python {sys.version}')"
          python -c "import pip; print(f'pip {pip.__version__}')"
          python -c "import tox; print(f'tox {tox.__version__}')"
          python -c "import tox_uv; print(f'tox-uv {tox_uv.__version__}')"
      - name: Run tests
        run: tox -e ${{ matrix.tox_env }} -- -n auto
      - name: Upload coverage to codecov
        if: "contains(matrix.tox_env, '-cov')"
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.xml
          verbose: true

      - name: Store info for sonar
        env:
          REF_NAME: ${{ github.ref_name }}
          REF_TYPE: ${{ github.ref_type }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          SOURCE_REPOSITORY: ${{ github.event.pull_request.head.repo.full_name }}
          SOURCE_BRANCH: ${{ github.event.pull_request.head.ref }}
          TARGET_BRANCH: ${{ github.event.pull_request.base.ref }}
        run: |
          pip install setuptools_scm
          echo "PR_NUMBER=${PR_NUMBER}" >> sonar_env
          echo "SOURCE_REPOSITORY=${SOURCE_REPOSITORY}" >> sonar_env
          echo "SOURCE_BRANCH=${SOURCE_BRANCH:-}" >> sonar_env
          echo "TARGET_BRANCH=${TARGET_BRANCH:-}" >> sonar_env
          echo "PROJECT_VERSION=$(python -m setuptools_scm)" >> sonar_env
          echo "REF_TYPE=${{ github.ref_type }}" >> sonar_env
          echo "REF_NAME=${REF_NAME}" >> sonar_env
          cat sonar_env

      # upload coverage report for SonarQube workflow
      - uses: actions/upload-artifact@v6
        if: "contains(matrix.tox_env, '-cov')"
        with:
          name: gammapy-coverage-report
          path: |
            coverage.xml
            sonar_env
